#map{
    display:block;
    height:800px;
    width:1200px;
}
#map-wrapper {
    width: 100%;
    height: 500px;
    position: relative;
    border: 1px solid black;
}
#button-wrapper {
    position: absolute;
    bottom: 10px;
    width: 100%;
}
