<html>
<head>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <form method="POST", action=".">
        <label><p>date</p></label>
        <input name="date">

        <label><p>count</p></label>
        <input name="count">

        <label><p>time start</p></label>
        <input name="start">

        <label><p>time end</p></label>
        <input name="end">

        <label><p>step</p></label>
        <input name="step">

		<label><p>submit</p></label>
        <input type="submit" value="Display ligths" id="button">
    </form>
</body>
</html>
